<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vincius.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".ActivityLaunchScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCadastro"
            android:label="Cadastro">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityLogin" />
        </activity>
        <activity android:name=".ActivityPerfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity android:name=".ActivityFragmentsNavigation" />
        <activity
            android:name=".ActivityResetSenha"
            android:label="@string/alterarsenha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityLogin" />
        </activity>
        <activity
            android:name=".ActivityMonitoria"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity
            android:name=".ActivityPrivado"
            android:label="Criar Monitoria">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity
            android:name=".ActivityGrupo"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity
            android:name=".ActivityPublico"
            android:label="Criar Monitoria">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity android:name=".ActivityPerfilGroup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="Configurações">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
        <activity android:name=".ActivityAlterarSenha">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivitySettings" />
        </activity>
        <activity
            android:name=".ActivitySettingsPerfil"
            android:label="Perfil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:label="Perfil"
                android:value=".ActivitySettings" />
        </activity>

        <activity android:name=".ActivityWatson"
            android:label="Watson">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:label="Perfil"
            android:value=".ActivityFragmentsNavigation"/>
        </activity>
        <service
            android:name=".Notifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Notifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ActivityChangeName"
            android:label="Digite seu nome"    
            android:windowSoftInputMode="adjustResize" />
      
        <activity android:name=".ActivitySubjectSelect" />
      
        <activity
            android:name=".ActivityListUserInGroup"
            android:label="Usuarios do Grupo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>

        <activity
            android:name=".ActivityReportarProblema"
            android:label="O que aconteceu?">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ActivityFragmentsNavigation" />
        </activity>

        <activity android:name=".ActivityDenunciar"
                    android:label="Denunciar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityFragmentsNavigation" />
        </activity>
    </application>

</manifest>